/* RESETS */
html,
body,
img,
div,
button,
input {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}
html {
    background: #eee;
}
body {
    min-height: 100vh;
}
body,
input,
button {
    font-family: sans-serif;
}
h1,
h2,
h3,
h4,
p,
q {
    margin-top: 0; /* flow unidirectionally */
}
h2,
h3,
h4 {
    font-weight: normal;
}

/* LAYOUT */
main {
    max-width: 700px;
    margin: 0 auto;
    padding: 24px 8px;
}
.card {
    background: #fff;
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, .4);
    border-radius: 4px;
    padding: 14px 18px;
    margin-bottom: 18px;
    overflow: hidden; /* for floated elements to be contained */
}
input {
    background: #eee;
    border-radius: 4px;
    border: 1px solid #999;
}
select,
input[type=text],
input[type=password],
input[type=tel],
input[type=email],
input[type=number] {
    display: block;
    margin-bottom: 12px;
    font-size: 1em;
    padding: 6px 8px;
    min-width: 240px;
}
.inputGroup > label {
    margin-bottom: 10px;
}
button {
    display: block;
    background: #2775ea;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .3);
    border-radius: 4px;
    padding: 6px 8px;
    color: #fff;
    font-size: 1em;
    float: left;
    cursor: pointer;
    pointer-events: none;
    opacity: .1;
}
button:hover {
    transform: scale(1.1);
}
.authButton,
.nextButton,
.downloadButton,
.saveEventLabelButton {
    float: right;
}
.hidden {
    display: none;
}

/* CONTROL FLOW*/
.active_step_1 .step-2,
.active_step_1 .step-3,
.active_step_1 .step-4,

.active_step_2 .step-3,
.active_step_2 .step-4,

.active_step_3 .step-4 {
    display: none;
}
.authButton,
.downloadButton,
.saveEventLabelButton,
.active_step_1 .step-1 button,
.active_step_2 .step-2 button,
.active_step_3 .step-3 button {
    pointer-events: all;
    opacity: 1;
}
.skipped-2 .step-2,
.skipped-3 .step-3 {
    display: none;
}
.active_step_4 .step-1,
.active_step_4 .step-2,
.active_step_4 .step-3 {
    display: none;
}

/* MISC DESIGN POLISHES */
#user_here_before {
    /* Checkbox */
    float: left;
    margin-right: 12px;
    margin-top: 2px;
}
hr {
    display: block;
    margin: 28px 20%;
    border: 0;
    background: #2775ea;
    height: 2px;
    opacity: .7;
}
.userOption {
    list-style: none;
    margin-bottom: 6px;
    line-height: 1.3em;
}
.userOption input {
    margin-right: 12px;
}
.step-4 {
    background: #b8dffb;
}
.startOverButton {
    display: block;
    background: #888;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .3);
    border-radius: 4px;
    padding: 6px 8px;
    font-size: 1em;
    float: right;
    cursor: pointer;
}
.allowed_false .card {
    display: none;
}
.allowed_false .card.auth {
    display: block;
}
.allowed_true .card {
    display: block;
}
.allowed_true .card.auth {
    display: none;
}
